@page "/customers"
@using Bootcamp.Data.Entities

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>This component demonstrates fetching data from the server.</p>

<a href="/customers/add">Add New Customer</a>

@if (customers.Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>
                        <a href="/customers/edit/@customer.Id"><i class="bi bi-pencil"></i></a>
                        <a><i class="bi bi-trash"></i></a>
                    </td>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}